*{
    margin: 0;
}

/* Intestazione del documento */
header{
    background-image: url(../img/pattern.png);
    background-color: aqua;
    height: 150px;
}

header img{
    padding-top: 50px;
    height: 100px;
    width: 300px;
}